[Unit]
Description=Prometheus Service
After=network-online.target

[Service]
Type=simple

ExecStart=/opt/monitor/start_server.sh

[Install]
WantedBy=multi-user.target
